@import '@cnbritain/merlin-www-common:traveller';
@import '@cnbritain/merlin-www-ads:traveller';
@import '@cnbritain/merlin-www-card:traveller';

@import '../wireframe/wireframe';

// Unused modifiers
// .c-card-list--sh-articles {}
// .c-card-list--sh-latest-articles {}
// .c-card-list--sh-shows {}
// .c-card-list--sh-summary-articles {}
// .c-card-list--sh-summary-shows {}


@mixin add-item-separator($padding-top: 12px) {
    .c-card-list__item + .c-card-list__item {
        .c-card {
            border-top: 1px solid $ISABEL;
            padding-top: $padding-top;
        }

        .c-card--dark {
            border-top-color: rgba($PORCELAIN, 0.12);
        }
    }
}

@mixin remove-item-separator {
    .c-card-list__item + .c-card-list__item  {
        .c-card {
            border-top: none;
            padding-top: 0;
        }
    }
}

.c-card-list--top-stories {
    grid-gap: 0 24px;
    grid-auto-flow: column;

    .c-card-list__item {
        width: 280px;
    }
}

.c-card-list--c-video-articles,
.c-card-list--c-curated,
.c-card-list--c-tag {
    @include one-column-layout;
    @include add-item-separator;
    grid-gap: 12px 24px;
    margin-top: 22px;

    @include at-two-column {
        @include two-column-layout;
        @include remove-item-separator;
        grid-gap: 32px 24px;
        margin-top: 12px;
    }

    @include at-four-column {
        @include four-column-layout;
        margin-top: 24px;
    }
}

.c-card-list--a-recommended,
.c-card-list--v-genre-articles,
.c-card-list--mag-articles {
    @include one-column-layout;
    @include add-item-separator;
    grid-gap: 12px 24px;

    @include at-two-column {
        @include two-column-layout;
        @include remove-item-separator;
        grid-gap: 32px 24px;
    }

    @include at-four-column {
        @include four-column-layout;
    }
}

.c-card-list--v-related-articles {
    @include one-column-layout;
    @include add-item-separator;
    grid-gap: 12px 24px;

    .c-card__image:before {
        background-color: rgba($BLACK, 0.5);
        bottom: 0;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition-duration: 300ms;
        width: 100%;
        z-index: 1;
    }

    .c-card__image:after {
        @include font("PROXIMA NOVA CONDENSED", 10px, 'SEMI BOLD', 10px);
        color: $WHITE;
        content: "Now Playing";
        left: 50%;
        letter-spacing: 1px;
        opacity: 0;
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        transform: translate(-50%, -50%);
        transition-duration: 300ms;
        z-index: 1;
    }

    .is-active {
        .c-card__image:before,
        .c-card__image:after {
            opacity: 1;
        }
    }

}

.c-card-list--c-splash {
    @include one-column-layout;
    grid-gap: 24px;

    @include at-two-column {
        @include two-column-layout;
    }

    @include at-four-column {
        @include four-column-layout;
    }
}

.c-card-list--c-magazine-articles {
    @include one-column-layout;
    grid-gap: 20px 24px;
}

.c-card-list--c-contributors {
    @include one-column-layout;
    @include add-item-separator($padding-top: 20px);
    grid-gap: 20px 24px;

    @include at-two-column {
        @include remove-item-separator;
        grid-template-columns: repeat(3, minmax(auto, 275px));
    }
}

.c-card-list--tg-header-articles {
    @include one-column-layout;
    grid-gap: 32px 24px;

    @include at-two-column {
        @include two-column-layout;
    }

    @include at-four-column {
        @include three-column-layout;
    }
}

.c-card-list--tg-articles {
    @include one-column-layout;
    @include add-item-separator;
    grid-gap: 12px 24px;

    @include at-two-column {
        @include add-item-separator($padding-top: 40px);
        grid-gap: 40px 24px;
    }
}

.c-card-list--s-results {
    @include one-column-layout;
    @include add-item-separator;
    grid-gap: 12px 24px;

    @include at-two-column {
        @include two-column-layout;
        @include remove-item-separator;
        grid-gap: 32px 24px;
    }

    @include at-four-column {
        @include four-column-layout;
        grid-gap: 48px 24px;
    }
}

.c-card-list--tg-articles-grid,
.c-card-list--v-articles {
    @include one-column-layout;
    @include add-item-separator;
    grid-gap: 12px 24px;

    @include at-two-column {
        @include two-column-layout;
        @include remove-item-separator;
        grid-gap: 32px 24px;
    }

    @include at-four-column {
        @include three-column-layout;
        grid-gap: 48px 24px;
        margin-right: 340px;
    }
}

.c-card-list--mag-magazines {
    @include two-column-layout;
    grid-gap: 24px;

    @include at-four-column {
        @include four-column-layout;
        grid-gap: 48px 24px;
    }
}
