
// Unusued modifiers
// .c-card-list--c-splash {}
// .c-card-list--sh-articles {}
// .c-card-list--tg-articles-grid {}

@mixin add-item-separator($padding-top: 20px) {
    .c-card-list__item + .c-card-list__item {
        .c-card {
            border-top: 1px solid $gallery;
            padding-top: $padding-top;
        }

        .c-card--dark {
            border-top-color:$mine-shaft-333;
        }
    }
}

@mixin remove-item-separator {
    .c-card-list__item + .c-card-list__item  {
        .c-card {
            border-top: none;
            padding-top: 0;
        }
    }
}

.c-card-list--a-recommended,
.c-card-list--c-curated,
.c-card-list--c-video-articles,
.c-card-list--mag-articles,
.c-card-list--s-results,
.c-card-list--sh-summary-articles,
.c-card-list--v-genre-articles {
    @include one-column-layout;
    @include add-item-separator($padding-top: 20px);
    grid-gap: 20px 40px;

    @include at-two-column {
        @include two-column-layout;
        @include remove-item-separator;
        grid-gap: 30px 40px;
    }

    @include at-four-column {
        @include four-column-layout;
    }
}

.c-card-list--sh-summary-shows {
    @include two-column-layout;
    grid-gap: 30px 40px;

    @include at-four-column {
        @include four-column-layout;
    }
}

.c-card-list--c-tag {
    @include one-column-layout;
    @include add-item-separator($padding-top: 20px);
    grid-gap: 20px 40px;

    @include at-two-column {
        @include two-column-layout;
        @include remove-item-separator;
        grid-gap: 30px 40px;
    }

    @include at-three-column {
        @include three-column-layout;
    }

    @include at-four-column {
        @include five-column-layout;
    }
}


.c-card-list--c-contributors {
    @include one-column-layout;
    grid-gap: 0 40px;

    @include at-two-column {
        grid-template-columns: repeat(3, minmax(auto, 600px));
    }
}

.c-card-list--c-magazine-articles {
    @include one-column-layout;
    grid-gap: 20px 0;
}

.c-card-list--mag-magazines,
.c-card-list--sh-shows {
    @include two-column-layout;
    grid-gap: 20px 40px;

    @include at-four-column {
        @include four-column-layout;
        grid-gap: 45px 40px;
    }
}

.c-card-list--tg-articles,
.c-card-list--sh-latest-articles {
    @include one-column-layout;
    @include add-item-separator($padding-top: 20px);
    grid-gap: 20px 0;

    .ad--show-inline + .c-card-list__item .c-card {
        border-top: none;
    }
}

.c-card-list--v-articles {
    @include one-column-layout;
    @include add-item-separator($padding-top: 20px);
    grid-gap: 20px 40px;

    @include at-two-column {
        @include two-column-layout;
        @include remove-item-separator;
        grid-gap: 30px 40px;
    }

    @include at-four-column {
        @include three-column-layout;
    }
}

.c-card-list--tg-header-articles {
    @include one-column-layout;
    @include add-item-separator($padding-top: 20px);
    grid-gap: 20px 40px;

    @include at-two-column {
        @include two-column-layout;
        @include remove-item-separator;
        grid-gap: 30px 40px;
    }

    @include at-three-column {
        @include three-column-layout;
    }
}

.c-card-list--top-stories {
    grid-gap: 0 30px;
    grid-auto-flow: column;

    .c-card-list__item {
        width: 280px;
    }
}

.c-card-list--v-related-articles {
    @include one-column-layout;
    @include add-item-separator($padding-top: 12px);
    grid-gap: 12px 0;

    .c-card-list__item {
        opacity: 1;
        transition: opacity 0.3s ease-out;
    }

    .is-active {
        opacity: 0.3;
    }
}