
@import "@cnbritain/merlin-www-common:wired";
@import "@cnbritain/merlin-www-ads:wired";
@import "@cnbritain/merlin-www-card:wired";

@import "../wireframe/wireframe";

// Unused modifiers
// .c-card-list--c-splash {}
// .c-card-list--sh-articles {}
// .c-card-list--sh-latest-articles {}
// .c-card-list--sh-shows {}
// .c-card-list--sh-summary-articles {}
// .c-card-list--sh-summary-shows {}
// .c-card-list--tg-articles-grid {}

.c-card-list--top-stories {
    grid-gap: 0 20px;
    grid-auto-flow: column;

    .c-card-list__item {
        width: 280px;
    }
}

.c-card-list--a-recommended,
.c-card-list--c-video-articles,
.c-card-list--c-curated,
.c-card-list--c-tag,
.c-card-list--mag-articles,
.c-card-list--v-genre-articles,
.c-card-list--s-results {
    @include one-column-layout;
    grid-gap: 20px;

    .c-card {
        border-top: 1px solid $black;
        padding-top: 20px;
    }

    .c-card--dark {
        border-top-color: $white;
    }

    @include at-two-column {
        @include two-column-layout;
    }

    @include at-four-column {
        @include four-column-layout;
    }
}

.c-card-list--v-articles,
.c-card-list--tg-articles {
    @include one-column-layout;
    grid-gap: 20px;

    .c-card {
        border-top: 1px solid $black;
        padding-top: 20px;
    }

    .c-card--dark {
        border-top-color: $white;
    }

    @include at-two-column {
        @include two-column-layout;
        grid-gap: 30px 20px;
    }

    @include at-four-column {
        @include four-column-layout;
        margin-right: 340px;
    }
}

.c-card-list--tg-header-articles {
    @include one-column-layout;
    grid-gap: 20px;

    .c-card {
        border-top: 1px solid $black;
        padding-top: 20px;
    }

    .c-card--dark {
        border-top-color: $white;
    }

    @include at-two-column {
        @include two-column-layout;
    }

    @include at-four-column {
        @include three-column-layout;
    }
}

.c-card-list--c-magazine-articles {
    @include one-column-layout;
    grid-gap: 20px;

    .c-card {
        border-top: 1px solid $black;
        padding-top: 20px;
    }

    .c-card--dark {
        border-top-color: $white;
    }
}

.c-card-list--v-related-articles {
    @include one-column-layout;
    grid-gap: 20px;

    .c-card__image:before {
        border: 1px solid $white;
        bottom: 0;
        box-sizing: border-box;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition-duration: 300ms;
        width: 100%;
        z-index: 1;
    }

    .c-card__image:after {
        @include font("BRUTAL", 10px, 'SEMI BOLD');
        background-color: $white;
        bottom: 0px;
        color: $black;
        content: 'Now Playing';
        left: 0px;
        opacity: 0;
        padding: 5px 7px;
        position: absolute;
        text-transform: uppercase;
        transition-duration: 300ms;
        z-index: 1;
    }

    .is-active {
        .c-card__image:before,
        .c-card__image:after {
            opacity: 1;
        }
    }

}

.c-card-list--mag-magazines {
    @include two-column-layout;
    grid-gap: 30px 20px;

    @include at-four-column {
        @include four-column-layout;
    }
}

.c-card-list--c-contributors {
    @include one-column-layout;
    grid-gap: 20px;

    .c-card {
        border-top: 1px solid $black;
        padding-top: 20px;
    }

    .c-card--dark {
        border-top-color: $white;
    }

    @include at-two-column {
        @include three-column-layout;
    }
}
