
@import '@cnbritain/merlin-www-common:glamour';
@import '@cnbritain/merlin-www-ads:glamour';
@import '@cnbritain/merlin-www-card:glamour';

@import "../wireframe/wireframe";

// Unused modifiers
// .c-card-list--sh-articles {}
// .c-card-list--sh-latest-articles {}
// .c-card-list--sh-shows {}
// .c-card-list--sh-summary-articles {}
// .c-card-list--sh-summary-shows {}
// .c-card-list--tg-articles-grid {}

.c-card-list--a-recommended,
.c-card-list--c-curated,
.c-card-list--c-splash,
.c-card-list--c-tag,
.c-card-list--c-video-articles,
.c-card-list--mag-articles,
.c-card-list--s-results,
.c-card-list--v-genre-articles {
    @include one-column-layout;
    grid-gap: 20px;

    @include at-two-column {
        @include two-column-layout;
    }

    @include at-four-column {
        @include four-column-layout;
    }
}

.c-card-list--c-magazine-articles,
.c-card-list--tg-articles {
    @include one-column-layout;
    grid-gap: 20px;
}

.c-card-list--c-contributors,
.c-card-list--tg-header-articles,
.c-card-list--v-articles {
    @include one-column-layout;
    grid-gap: 20px;

    @include at-two-column {
        @include two-column-layout;
    }

    @include at-four-column {
        @include three-column-layout;
    }
}

.c-card-list--mag-magazines {
    @include two-column-layout;
    grid-gap: 20px;

    @include at-four-column {
        @include four-column-layout;
    }
}

.c-card-list--top-stories {
    grid-gap: 0 20px;
    grid-auto-flow: column;

    .c-card-list__item {
        width: 280px;
    }
}


.c-card-list--v-related-articles {
    @include one-column-layout;
    grid-gap: 26px 20px;

    .c-card__image:before {
        background-color: rgba($dune, 0.8);
        bottom: 0;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition-duration: 300ms;
        width: 100%;
        z-index: 1;
    }

    .c-card__image:after {
        @include font("GRAPHIK", 10px, 'SEMI BOLD', 10px);
        color: $white;
        content: "Now Playing";
        left: 50%;
        letter-spacing: 1px;
        opacity: 0;
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        transform: translate(-50%, -50%);
        transition-duration: 300ms;
        z-index: 1;
    }

    .is-active {
        .c-card__image:before,
        .c-card__image:after {
            opacity: 1;
        }
    }

}