
// Unused modifiers
// .c-card-list--c-splash {}
// .c-card-list--sh-articles {}
// .c-card-list--sh-latest-articles {}
// .c-card-list--sh-shows {}
// .c-card-list--sh-summary-articles {}
// .c-card-list--sh-summary-shows {}
// .c-card-list--tg-articles-grid {}

.c-card-list--a-recommended,
.c-card-list--c-curated,
.c-card-list--c-tag,
.c-card-list--c-video-articles,
.c-card-list--mag-articles,
.c-card-list--s-results,
.c-card-list--v-genre-articles {
    @include one-column-layout;
    grid-gap: 20px;

    @include at-two-column {
        @include two-column-layout;
    }

    @include at-four-column {
        @include four-column-layout;
    }
}

.c-card-list--v-articles {
    @include one-column-layout;
    grid-gap: 20px;

    @include at-two-column {
        @include two-column-layout;
    }

    @include at-four-column {
        @include three-column-layout;
        margin-right: 340px;
    }
}

.c-card-list--c-contributors {
    @include one-column-layout;
    grid-gap: 20px;

    @include at-two-column {
        @include three-column-layout;
    }

    @include at-three-column {
        margin: 0 auto;
        max-width: 660px;
    }
}

.c-card-list--c-magazine-articles {
    grid-gap: 20px;
    grid-template-columns: minmax(auto, 450px);
}

.c-card-list--mag-magazines {
    @include two-column-layout;
    grid-gap: 20px;

    @include at-four-column {
        @include four-column-layout;
    }
}

.c-card-list--tg-articles {
    @include one-column-layout;
    grid-gap: 20px;

    @include at-four-column {
        margin-right: 340px;
    }
}

.c-card-list--tg-header-articles {
    @include one-column-layout;
    grid-gap: 20px;

    @include at-two-column {
        @include two-column-layout;
    }

    @include at-three-column {
        @include three-column-layout;
    }
}

.c-card-list--top-stories {
    grid-gap: 0 20px;
    grid-auto-flow: column;

    .c-card-list__item {
        width: 300px;
    }
}

.c-card-list--v-related-articles {
    @include one-column-layout;
    grid-gap: 20px;

    .c-card__image:before {
        background-color: rgba($black, 0.8);
        bottom: 0px;
        content: '';
        left: 0px;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition-duration: 300ms;
        z-index: 1;
    }

    .c-card__image:after {
        @include font("COMMUTER SANS", 11px);
        color: $white;
        content: 'Now Playing';
        margin-top: -6px;
        opacity: 0;
        position: absolute;
        top: 50%;
        text-align: center;
        text-transform: uppercase;
        transition-duration: 300ms;
        width: 100%;
        z-index: 1;
    }

    .is-active {
        .c-card__image:before,
        .c-card__image:after {
            opacity: 1;
        }
    }

}
